/* ====================================================================================================================
                                                        Portfolio section Start
=================================================================================================================== */
.portfolio{
    background-image: linear-gradient(to left, #fef2ff , #efd9ff);
    padding: 2rem 0;
}
.portfolio_row_home{
    padding: 0.5rem 0;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.portfolio_row_home:last-child{
    overflow: hidden;
}
.portfolio_item_home{
    width: 23%;
    box-shadow: 1.3rem 2rem 4rem 0.5rem rgba(129, 173, 234, 0.2);
    display: inline-block;
    margin-bottom: 2%;
    overflow: hidden;
}
.portfolio_item_home img{
    max-width: 100%;
    border-radius: 0.5rem;
    transition: var(--transition);
}
.portfolio_item_home img:hover{
    transform: scale(1.1);
    border-radius: 0;

}
@media (max-width:600px) {
    .portfolio_item_home{
        width: 48%;
    }
}
                                /* Portfolio section End */