.process{
    background-color: #fafafb;
    width: 100%;
    padding: 2rem  0;
}
.process_row{
    width: 90%;
    margin: auto;
}
.process_item{
    background-color: #ffffff;
    width: 31%;
    border-radius: 0.5rem;
    box-shadow: 0 0 2.5rem 0.5rem rgba(91, 134, 149, 0.393);
    display: inline-block;
    margin-left: 2%;
    margin-bottom: 3%;
}
.process_item:first-child{
    margin-left: 0;
}
.process_item:nth-child(4){
    margin-left: 0;
}
.process_row_rmv{
    visibility: hidden;
    display: none;
}
.process_item_inner{
    padding: 1.3rem;
    text-align: center;
}
.process_icon{
    font-size: 2.5rem;
    color: #eafaff;
    border: 1px solid #eb76fe;
    display: inline-block;
    padding: 0.5rem;
    margin: 5px;
    border-radius: 50%;
    background-image: linear-gradient(to right,#eb76fe, #c478fa);
    
    transition: 0.5s;
}
.process_item:hover .process_icon{
    color: #72c7e0;
    background-image: linear-gradient(to left,#eb76fe, #c478fa);
    border: 1px solid #ac8c75;

}
.process_item_inner h2{
    color: #000000;
    padding-bottom: 0.5rem;
}
.process_item_inner p{
    font-size: 1rem;
}
@media (max-width:850px) {
    .process_item{
        width: 48%;
        margin-bottom: 0.5rem;
        margin-left: 0.5rem;
    }
    .process_item:nth-child(3), .process_item:nth-child(5){
        margin-left: 0;
    }
    .process_item:nth-child(4){
        margin-left: 0.5rem;
    }
}
@media (max-width:700px) {
    .process_item{
        width: 96%;
        margin-bottom: 5px;
        margin-left: 0px;
    }
    .process_item:nth-child(4){
        margin-left: 0px;
    }
}