/* Device width 1100px and Upper */
/* Device width Lower than 1100px */
@media (max-width:1100px) {
    .portfolio_item_home{
        width: 31%;
    }
}


/* Device width Lower than 900px */
@media (max-width:900px) {
    .banner_description h2{
        font-size: 1.5rem;
    }
    .banner_description h1{
        font-size: 2.3rem;
    }
    .banner_description p, .welcome_description p{
        font-size: 1.1rem;
    }
    .welcome_icon{
        font-size: 2.1rem;
    }
}



/*============================================= Device width Lower than 800px ==========================================*/
@media (max-width:800px) {
    .main_menu ul li{
        width: 7rem;
        text-align: right;
    }
    .banner_description h2{
        font-size: 1.5rem;
        padding: 0.5rem 0;
    }
    .banner_description h1{
        font-size: 2.1rem;
    }
    .banner_description p,.welcome_description p{
        font-size: 1rem;
    }
    .welcome_description h2{
        font-size: 2rem;
    }
    .welcome_icon{
        font-size: 2rem;
    }
    .service_item_left{
        font-size: 1.5rem;
    }
}



/*============================================= Device width Lower than 700px ==========================================*/
@media (max-width:700px) {
    .banner{
        padding: 3.75rem 0;
        text-align: center;
    }
    .banner_inner{
        flex-direction: column;
    }
    .banner_description{
        width: 100%;
    }
    .banner_image{
        width: 100%;
        padding-top: 0.5rem;
    }
    .Welcome_inner{
        flex-direction: column;
    }
    .welcome_description{
        width: 100%;
        padding-bottom: 2rem;
    }
    .welcome_items{
        width: 100%;
    }

    .special_under{
        font-size: 4.75rem;
    }
    .special_upper{
        margin-top: -2.8rem;
        margin-bottom: 2rem;
        font-size: large;
    }
    .service_item{
        width: 100%;
        margin: 1% 0;
    }
    .portfolio_item_home{
        width: 47%;
    }
    .footer_left{
        width: 100%;
    }
    .footer_right{
        width: 100%;
        text-align: center;
    }
}



/*============================================= Device width Bigger than 650px ==========================================*/
@media (min-width:650px) {
    .mobile_menu_icon{
        display: none;
    }
}



/*============================================= Device width Lower than 650px ==========================================*/
@media (max-width:650px) {
    .main_menu i{
        visibility: visible;
        opacity: 1;
    }
    .main_menu ul{
        flex-direction: column;
        display: none;
        padding-top: 3rem;
    }
    .xmark{
        right: 5px;
        top: 5px;
    }
}



/*============================================= Device width Lower than 600px ==========================================*/
@media (max-width:600px) {
    .popup_inner{
        width: 28.5rem;
    }
}


/*============================================= Device width Lower than 600px ==========================================*/
@media (max-width:500px) {
    .popup_inner{
        width: auto;
    }
    .input,
    .textarea{
        width: 16rem;
    }
}
/*============================================= Device width Lower than 400px ==========================================*/
@media (max-width:400px) {
    .portfolio_item_home{
        width: 98%;
    }
}
