.service{
    width: 100%;
    background-image: linear-gradient(to right, #fef2ff , #efd9ff);
    padding: 2rem 0;
}

.service_item{
    width: 47%;
    background-color: #fff;
    margin: 1%;
    display: inline-block;
    padding: 0.5rem ;
    box-shadow: 0 0 2.5rem 0.5rem rgba(91, 134, 149, 0.393);
    overflow: hidden;
    border-radius: 0.5rem;
    position: relative;
}
.service_item a{
    text-decoration: none;
    color: #000;
}
.service_item_left{
    float: left;
    width: 10%;
    font-size: 1.5rem;
    background-image: linear-gradient( to right, #ff7c76, #fba977);
    text-align: center;
    color: #fff;
    border-radius: 50%;
    border: 1px solid #fba977;
    padding: 0.5rem 0;
    transition: 0.4s;
}
.service_item:hover .service_item_left{
    background-image: linear-gradient( to left, #ff7c76, #fba977);
    color: purple;

}
.service_item_right{
    float: right;
    text-align: left;
    width: 85%;
}
.service_item_right h3{
    font-weight: normal;
}

.service_number{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 1.5rem;
    color: #ddd;
}